#buttonContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 40vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

#calcInput {
    padding-top: 2vh;
    margin-left: 1vw;
    width: 38vw;
    height: 5vh;
    font-size: x-large;
    font-weight: 900;
    overflow: auto;
    background-color: white;
}

#calcHistory {
    padding-top: 2vh;
    margin-left: 1vw;
    width: 38vw;
    height: 5vh;
    font-size: x-large;
    overflow: auto;
    background-color: white;
    display:flex; 
    flex-direction:column-reverse;
    list-style-type: none;
}

button {
    margin: 2px;
    border-radius: 5px;
} 
.numberButton {
    background-color: orange;
}

#calcBody {
    width: 40vw;
    height: 54vh;
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategrey;
}